.header__image {
  max-width: 984px;
  max-height:615px;  
}

.header__image:hover {
  opacity: 0.5;
  transition: opacity 0.4s linear; 
}

@media screen and (min-width: 320px) and (max-width: 1279px){ 
  .header__image { 
    width: 100%;

    } 
   }
