.intro {
    max-width: 1017px;
    margin-left: 148px;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    
}

@media screen and (min-width: 320px) and (max-width: 768px){ 
    .intro { 
     margin-left:24px;
     /*min-height: 958px;*/
     
     
    } 
   } 
   @media screen and (min-width: 769px) and (max-width: 1279px){ 
    .intro{ 
        margin: auto;
    } 
   }