.header__subtitle {
    max-width: 720px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    /*left: 280px;*/
    border: 1px solid red;  

}
