.cover {
    position: relative;
    width: 1184px;
    height: 740px;
    margin: 46px 48px;
    padding-top: 46px;
    
}
@media screen and (min-width: 320px) and (max-width: 768px){ 
    .cover { 
       max-width: 768px;
       min-width: 320px;
        
    } 
   }

   @media screen and (min-width: 769px) and (max-width: 1279px){ 
    .cover{ 
        
        
    } 
   }