.place {
    display: grid;
    position: relative;
    max-width: 984px;
    height: 756px;
    /*left: 148px;*/
    left: 11.5%;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "title website"
    "image paragraph"
    "image paragraph"
    "frame .";
    border: 1px solid red;
    margin-bottom: auto;
}

/* "title ."
    "title website"
    "image paragraph"
    "image paragraph"
    "frame .";