.intro__description {
    max-width: 720px;
    max-height: 182px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #FFFFFF;
    border: 1px solid red;
    margin-bottom: 0;
}